<div class="container">
    <div class="header">
        <nav>
            <a rounterLink="/start" rounterLinkActive="active">S T A R T</a>
            <a rounterLink="/kochnische" rounterLinkActive="active">K O C H N I S C H E</a>
            <a rounterLink="/backstube" rounterLinkActive="active">B A C K S T U B E</a>
            <a rounterLink="/ueberuns" rounterLinkActive="active">Ü B E R  &nbsp; U N S</a>
            <a rounterLink="/impressum" rounterLinkActive="active">I M P R E S S U M</a>
        </nav>
    </div>
</div>