<div class="container">
    <div class="topbar">
        <a href="https://www.instagram.com" class="instagram">
            <img src="assets/instagram.png" alt="instagram" >
        </a>
        <a href="https://www.facebook.com" class="facebook">
            <img src="assets/facebook.png" alt="facebook" >
        </a>
        <a href="https://www.pinterest.com" class="pinterest"> 
            <img src="assets/pinterest.png" alt="pinterest" >
        </a>
    </div>
    <div class="header">
        <img src="assets/zweidiekochen.png">
    </div>
    <div class="navbar">
        <nav>
            <a [routerLink]="'/start'" rounterLinkActive="active">S T A R T</a>
            <a [routerLink]="'/kochnische'" rounterLinkActive="active">K O C H N I S C H E</a>
            <a [routerLink]="'/backstube'" rounterLinkActive="active">B A C K S T U B E</a>
            <a [routerLink]="'/ueberuns'" rounterLinkActive="active">Ü B E R  &nbsp; U N S</a>
            <a [routerLink]="'/impressum'" rounterLinkActive="active">I M P R E S S U M</a>
        </nav>
        <form>
            <input type="text" id="search" name="search" placeholder="Suche.."><br> 
        </form>
        <div class="search">
        <img src="assets/search.svg" alt="search" class="search" (click)="search()">
    </div>
    </div>
</div>