<div class="footer">
    <p> © 
        <a href="http://localhost:4200/start/" title="Back & Koch Stuebchen">Back & Koch Stuebchen</a>
         – 
        <a href="http://localhost:4200/impressum/" title="Impressum">Impressum</a>
         – 
        <a href="http://localhost:4200/datenschutz/" title="Datenschutz">Datenschutz</a>
         – 
        <a href="http://localhost:4200/agb/" title="AGB">AGB</a>
         – 
        <a href="http://localhost:4200/cookie/" title="cookie">Cookie-Einstellungen</a>
    </p>
  </div>